.scheduledCard {
  border: 1px solid rgb(255, 255, 255, 0.9);
  padding: 16px 20px;
  border-radius: 12px;
  .scheduledCard__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date,
    .time {
      .label {
        font-size: 11px;
        margin-top: 16px;
      }
      .text {
        font-size: 20px;
        margin-top: 4px;
      }
    }
  }
}
