.app {
  /* margin: 0 auto; */
  // max-width: 600px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main sidebar";
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  // color: rgb(255, 255, 255, 0.9);
  color: rgb(0, 0, 0, 0.9);
  max-width: 1280px;
  margin: 0 auto;

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "sidebar content";
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    // background-color: rgba(255, 255, 255, 0.02);
    .header {
      grid-area: header;
      height: 48px;
      padding-top: 40px;
      // background-color: rgba(255, 255, 255, 0.05);
    }
    .sidebar {
      grid-area: sidebar;
      // background-color: rgba(255, 255, 255, 0.05);
      padding-top: 64px;
    }
    .content {
      grid-area: content;
      // background-color: rgba(255, 255, 255, 0.05);
      .wrapper {
        display: flex;
        gap: 20px;
        margin: 16px 0;
        > * {
          flex: 1;
        }
      }
    }
  }
  > .sidebar {
    padding: 40px 0 0 32px;
    grid-area: sidebar;
    // background-color: rgba(255, 255, 255, 0.05);
  }
}
.font-face-roboto {
  font-family: "RobotoRegular";
}
.standingList {
  margin-top: 24px;
  .driverStanding {
    margin-bottom: 16px;
  }
}
h2 {
  font-size: 25px;
  font-family: RobotoBold;
}
