.app {
  /* margin: 0 auto; */
  // max-width: 600px;
  display: inline-flex;
}
.font-face-roboto {
  font-family: "RobotoRegular";
}
.standingList {
  margin-top: 24px;
  .driverStanding {
    margin-bottom: 16px;
  }
}
h2 {
  font-size: 25px;
  font-family: RobotoBold;
}
.main {
}
