.gapSimulationCard {
  // border: 1px solid rgb(255, 255, 255, 0.9);
  border: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 0 0px 8px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  border-radius: 12px;
  height: 432px;
  .gapSimulationCard__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
    .info {
      font-size: 9px;
    }
  }
  .gapSimulationCard__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    svg {
      path#track {
        stroke: #7d839c;
        stroke-width: 7px;
      }
      path#s1 {
        stroke: rgba(255, 255, 255, 0.2);
        stroke-width: 3px;
      }
      path#s2 {
        stroke: rgba(255, 255, 255, 0.5);
        stroke-width: 3px;
      }
      path#s3 {
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 3px;
      }
    }
  }
}
